/**
 * Resets
 */
.fluentform form > fieldset .ff-el-group {
	margin-bottom: 0; /* Reset default margins */
}

/**
 * Form Containers
 */
.fluentform {
	--_gap: var(--wp--preset--spacing--30);
	--_border: 1px solid var(--wp--preset--color--foreground);
	--_font-color: var(--wp--preset--color--foreground);
	--_font-family: var(--wp--preset--font-family--tertiary);

	width: 100%;
}

.fluentform fieldset,
.ff-t-container {
	display: grid;
	gap: var(--_gap);
}

/**
 * Form Fields
 */
:is(input, textarea).ff-el-form-control {
	font-family: var(--_font-family) !important;
	color: var(--_font-color) !important;

	padding: 1em 1em !important;

	border: var(--_border) !important;
	border-radius: 0 !important;
}

:is(input, textarea).ff-el-form-control::placeholder {
	font-family: var(--_font-family) !important;
	color: var(--_font-color) !important;

	opacity: 0.5 !important;
}

/**
 * Buttons
 */
.ff_submit_btn_wrapper {
	max-width: 20rem;
	margin-inline: auto;
	margin-top: var(--wp--preset--spacing--50);
}

/* Modifiers */
.ff-el-form-hide_label .ff-el-input--label {
	display: none;
}
