:where(.wp-block-image) {
	max-width: 100%;
	height: auto;
}

img.is-style-square {
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center center;

	width: 100%;
	height: auto;
}

img.is-style-full {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
