:where(.district-list) {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    row-gap: var(--wp--preset--spacing--30);

    padding: 0;
	
    list-style: none;
}

@media (min-width: 800px) {
    :where(.district-list) {
        flex-direction: row;
    }
}