{
	"root": true,
	"env": {
		"es6": true,
		"browser": false,
		"node": true,
		"commonjs": true,
	},
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended",
		"plugin:import/recommended",
	],
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"],
				"extensions": [".js", ".jsx", ".ts", ".tsx"],
			},
		},
	},
	"rules": {
		"prettier/prettier": 0,
		"comma-dangle": [
			"error",
			{
				"arrays": "only-multiline",
				"objects": "only-multiline",
				"imports": "only-multiline",
				"exports": "only-multiline",
				"functions": "only-multiline",
			},
		],
	},
}
