# Ignore artifacts:
build
coverage
vendor

# Ignore git configuration files:
.gitignore
.gitmodules

# Ignore node_modules:
node_modules

# Ignore logs:
*.log

# Ignore language specific files:
languages

# Ignore public folder:
public

# Ignore libraries and frameworks:
inc/lib
