<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd" 
    bootstrap="./tests/bootstrap.php"
    colors="true"
    >
    <testsuites>
        <testsuite name="custom-blocks">
            <directory suffix="Test.php">./tests/php/Blocks/</directory>
        </testsuite>
        <testsuite name="api-routes">
            <directory suffix="Test.php">./tests/php/OptionsEndpoint/</directory>
        </testsuite>
    </testsuites>
    <groups>
        <include>
            <group>custom-blocks</group>
        </include>
		<exclude>
			<group>api-routes</group>
		</exclude>
	</groups>
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
        <env name="WORDPRESS_TABLE_PREFIX" value="wp_"/>
    </php>
</phpunit>
