/** ======================
 ** CONTAINER
 ** ==================== */
.site-header {
	--_header-offset-block: var(--wp--preset--spacing--30);
	--_header-offset-inline: var(--wp--preset--spacing--30);
	--_header-height: var(--wp--preset--spacing--60);
	--_header-background-color: var(--wp--preset--color--background);
	--_header-background-hover-color: var(--wp--preset--color--grey-extra-light);

	position: relative;

	display: grid;
	grid-template-columns: 1fr auto auto;

	background-color: var(--_header-background-color);

	height: var(--_header-height);
	width: var(--wp--custom--wide-size);

	margin-inline: auto;

	z-index: 9999;
	isolation: isolate;
	overflow-x: clip;
}

[color-scheme="dark"] .site-header {
	--_header-background-hover-color: var(--wp--preset--color--grey-extra-dark);
}

@media (min-width: 800px) {
	.site-header {
		--_header-height: var(--wp--preset--spacing--60);

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

/** ======================
 ** MODAL OPEN
 ** ==================== */
[data-modal="open"].site-header {
	overflow: hidden;
	margin: 0;
	touch-action: none;
	height: 100vh;
}

/** ==========================
 ** HEADER STICKY
 ** ======================= */
[data-transition="true"].site-header {
	opacity: 0;
}

[data-sticky="true"].site-header {
	position: sticky;

	top: 0;
	z-index: 9999;

	opacity: 1;

	transition: opacity 0.2s ease-in-out;
}
