.site-header__logo {
	--_logo-padding: 1em;

	position: fixed;
	top: 0;

	width: 100%;

	height: var(--_header-height);
	background: var(--_header-background-color);
}

.site-header__logo__link {
	display: flex;
	align-items: center;

	position: fixed;

	height: var(--_header-height);
	width: 100%;

	z-index: 9999;
}

.site-header__logo__link img {
	padding-inline: var(--_logo-padding);

	width: fit-content;
	height: calc(var(--_header-height) - 1 * var(--_logo-padding));

	object-fit: contain;
}
