.editor-accessible-tabs__list-add {
	/* Resets */
	background: none;
	border: none;

	/* Custom */
	display: flex;
	align-items: center;
	gap: 0.5em;

	padding: 0.25em 0.5em;
	font-size: var(--wp--preset--font-size--small);
	font-weight: 700;
	color: var(--wp--preset--color--primary);
	cursor: pointer;
}

.editor-accessible-tabs__list-add svg {
	width: 24px;
	height: 24px;
	fill: var(--wp--preset--color--primary);
}

.editor-accessible-tabs__list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;

	width: fit-content;
}

.editor-accessible-tabs__list .block-list-appender {
	position: static;
}
