.generic-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--wp--preset--spacing--30);

	margin-block: var(--wp--preset--spacing--10);
	margin-bottom: var(--wp--preset--spacing--50);
}

@media screen and (min-width: 800px) {
	.generic-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	.generic-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
