.legal > main {
	width: var(--wp--custom--narrow-size);
	margin-inline: auto;
	margin-block: var(--wp--preset--spacing--60);
}

.legal > main h1 {
	font-size: var(--wp--preset--font-size--gigantic);
	margin-bottom: var(--wp--preset--spacing--40);
}

.legal > main h2 {
	font-size: var(--wp--preset--font-size--huge);
	margin-top: var(--wp--preset--spacing--50);
}

.legal > main h3 {
	font-size: var(--wp--preset--font-size--large);
	margin-top: var(--wp--preset--spacing--40);
}
