.wp-block-button {
    --_border-width: 1px;
    --_border-color: var(--wp--preset--color--secondary);

    position: relative;
    width: fit-content;

    margin-inline: auto;
}

.wp-block-button__link {
    color: var(--wp--preset--color--secondary);
    background-color: transparent;
    padding: 0.5em 1.5em;
}

.wp-block-button__link::after {
    content: "";
    width: 100%;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;

    border-left: var(--_border-width) solid var(--_border-color);
    border-right: var(--_border-width) solid var(--_border-color);
    border-bottom: var(--_border-width) solid var(--_border-color);
}

/* Set hover state */
.wp-block-button__link:hover {
    color: var(--wp--preset--color--white);
    background-color: var(--wp--preset--color--secondary);
}

/* Set disabled state */
.wp-block-button__link:disabled {
    color: grey;
    pointer-events: none;
    visibility: hidden;
}