/* .wp-block-ksd-hero .hero__image {
    height: auto;
} */

/* Fix image height */
.wp-block-ksd-hero figure > div,
.wp-block-ksd-hero figure > div > img {
    height: var(--_height) !important;
    width: 100% !important;
    object-fit: cover;
}

/** ======================
 **   TWO-COLUMN
 ** ==================== */

.hero-two-column {
    display: grid;
    justify-items: center;
    align-items: revert;
    width: 100%;
    height: auto !important;
}

.hero-two-column .hero__content {
    width: revert !important;
    height: revert !important;
}
.hero-two-column .hero__image > div,
.hero-two-column .hero__image > div > img {
    height: 100%;
    width: 100%;
}