.scheme-toggle {
	--_icon-size: 3em;
	--_icon-color: var(--wp--preset--color--background);
	--_icon-background-color: var(--wp--preset--color--foreground);

	display: none;
	position: relative;

	margin: 1rem;
	padding: 1rem;

	background-color: var(--_icon-background-color);
	border-radius: 50%;

	transform: scale(0.66);
}

.scheme-icon {
	width: var(--_icon-size);
	height: var(--_icon-size);
}

.scheme-icon__circle {
	fill: var(--_icon-color);
}

/* Overlap for moon icon */
.scheme-icon__overlap {
	fill: var(--_icon-background-color);
	display: none;
}

/* Dark mode icon scaling */
.scheme-icon[data-scheme="light"] {
	transform: scale(2);
}

/* Light mode icon sun lines */
.scheme-icon__line {
	stroke: var(--_icon-color);
	stroke-width: 40;
	stroke-linecap: round;
}

.scheme-icon[data-scheme="light"] .scheme-icon__overlap {
	display: inline-block;
	transform: translate(5.5em, -3.5em);
}

.scheme-icon[data-scheme="light"] .scheme-icon__line {
	display: none;
}

@media screen and (min-width: 800px) {
	.scheme-toggle {
		display: inline-block;
	}
}
