.hero {
	--_height: 800px;
	isolation: isolate;
	align-items: center;
	justify-items: center;
}

.hero__container {
	display: grid;
	justify-items: center;

    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--white);

	padding-block: var(--wp--preset--spacing--40);
	padding-inline: var(--wp--preset--spacing--60);

	z-index: 1; /* Make sure container is in front */

	position: relative;
}

.hero__image {
	padding: 0;
	margin: 0;

	width: 100%;
	height: var(--_height);
	object-fit: cover;
	object-position: center center;
}
