.hero {
	--_background-image-height: 1000px;
	--_offset: var(--wp--preset--spacing--60);
	--_container-width: calc(var(--wp--preset--spacing--80) * 2);
	--_container-height: calc(var(--_background-image-height) + var(--_offset));
}

:where(.hero.has-image) {
	display: grid;
	max-height: var(--_container-height);
	position: relative;
}

:where(.hero.has-image > *) {
	grid-area: 1 / 1;
	object-position: center center;
	object-fit: cover;
	overflow: hidden;
}

:where(.hero.has-image > div) {
	z-index: 2;
}

:where(.hero.has-image > img) {
	height: 100%;
	max-height: var(--_background-image-height);
}

:where(.hero__container) {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
    align-items: flex-start;

	height: var(--_container-height);
	width: var(--wp--custom--layout--site-width);
	max-width: calc( var(--wp--style--global--wide-size) + var(--wp--preset--spacing--80));
	margin-inline: auto;
}

:where(.hero__container > * ) {
	max-width: var(--_container-width);
}

:where(.hero__heading) {
	line-height: 1;
	letter-spacing: 0px;
	white-space: nowrap;
}

:where(.hero__logo) {
	width: 100%;
	max-width: 430px;
}

:where(.hero__decorative-image--arch) {
	position: absolute;
	bottom: 0;
	right: 0;

	width: 100%;
    max-width: fit-content;
	max-height: 700px;

	object-fit: contain;

	transform: translate(0, calc(var(--_offset) * -1));
}