.columns-form {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--40);
	width: var(--wp--custom--layout--site-width);
	max-width: var(--wp--style--global--wide-size);
	margin-inline: auto;
}

.columns-form > div {
	position: relative;
}

.columns-form__image {
	position: relative;
	padding: var(--wp--preset--spacing--30);

	object-position: center center;
	object-fit: cover;
	aspect-ratio: 8 / 5;
}

.columns-form > div:last-child::after {
    content: "";
    width: calc(100% - var(--wp--preset--spacing--50));
    height: calc(100% - var(--wp--preset--spacing--50));
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--wp--preset--color--background-light);

    z-index: -1;
}

.columns-form__heading {
	font-size: var(--wp--preset--font-size--huge);
	margin-left: initial;
}

.columns-form__decorative-image--arch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translate(var(--wp--custom--layout--site-margin), 0);
    max-width: 175px;
}

@media (min-width: 800px) {
	.columns-form {
		grid-template-columns: 1.5fr 1fr;
	}

	.columns-form div:first-child {
		grid-area: 1 / 2;

	}

	.columns-form div:last-child { 
		grid-area: 1 / 1;
	}
}