.column {
    width: 100%;
	max-width: calc( 100% - var(--wp--preset--spacing--40, 2rem) * 2 );
}

.block-editor-block-list__layout .block-editor-block-list__block.wp-block-ksd-column {
    width: 100%;
}