.timeline-list-item {
	width: 100%;
	max-width: 15rem;
}

.timeline-list-item > article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.timeline-list-item__name {
	font-size: var(--wp--preset--font-size--large);
	color: var(--_color);
}

.timeline-list-item__status {
	--_arrow-size: 2em;

	display: flex;
	justify-content: space-around;
	width: 100%;

	background-color: var(--_color);

	position: relative;
	overflow-y: clip;
}

.timeline-list-item__status-text {
	margin-left: 0;
	color: var(--wp--preset--color--background);
}

/* Arrows */
.timeline-list-item__status::before,
.timeline-list-item__status::after {
	content: initial;
	height: var(--_arrow-size);
	width: var(--_arrow-size);
	position: absolute;
	bottom: 0;
	rotate: 45deg;
}

.timeline-list-item__status::before {
	background: var(--wp--preset--color--background);
	left: 0em;
	translate: -50% 0.075em;
}

.timeline-list-item__status::after {
	background: var(--_color);
	right: 0;
	translate: 50% 0.075em;
	z-index: 1;
}

/* Icons */
.timeline-list-item__icon {
	width: 1.25em;
	height: auto;
	z-index: 9999;
}

.timeline-list-item__dots {
	height: 2.75em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

/**
 * Set colors
 */
.timeline-list-item--not-set {
	--_color: var(--wp--preset--color--foreground);
}

.timeline-list-item--coming {
	--_color: var(--wp--preset--color--background-light);
}

.timeline-list-item--in-progress {
	--_color: var(--wp--preset--color--background-lightest);
}

.timeline-list-item--ready {
	--_color: var(--wp--preset--color--secondary);
}

@media (min-width: 800px) {
	.timeline-list-item__status {
		justify-content: space-between;
	}

	.timeline-list-item__status-text {
		margin-left: var(--_arrow-size);
	}

	.timeline-list-item__status::before,
	.timeline-list-item__status::after {
		content: "";
	}
}
