/**
 * Set color values and scheme
 */
:root {
	color-scheme: dark light;
}

/**
 * Override color values.
 * No preference is given to DARK or LIGHT mode.
 * !NOTE - This is the default color scheme and there probably is no need to edit these values.
 */
body {
	--wp--preset--color--background: var(--wp--custom--color--dark-mode--white);
	--wp--preset--color--foreground: var(--wp--custom--color--dark-mode--black);
	--wp--preset--color--grey-light: var(
		--wp--custom--color--dark-mode--grey-light
	);
	--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
	--wp--preset--color--grey-dark: var(
		--wp--custom--color--dark-mode--grey-dark
	);
}

[color-scheme="dark"] body {
	color-scheme: dark;
	--wp--preset--color--background: var(--wp--custom--color--dark-mode--black);
	--wp--preset--color--foreground: var(--wp--custom--color--dark-mode--white);
	--wp--preset--color--grey-light: var(
		--wp--custom--color--dark-mode--grey-extra-dark
	);
	--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
	--wp--preset--color--grey-dark: var(
		--wp--custom--color--dark-mode--grey-dark
	);
}

/**
 * Override color values.
 * Preference is given to DARK mode.
 * !NOTE - There probably is no need to edit these values.
 */
@media (prefers-color-scheme: dark) {
	body {
		color-scheme: dark;
		--wp--preset--color--background: var(
			--wp--custom--color--dark-mode--black
		);
		--wp--preset--color--foreground: var(
			--wp--custom--color--dark-mode--white
		);
		--wp--preset--color--grey-light: var(
			--wp--custom--color--dark-mode--grey-extra-dark
		);
		--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
		--wp--preset--color--grey-dark: var(
			--wp--custom--color--dark-mode--grey-dark
		);
	}

	[color-scheme="light"] body {
		color-scheme: light;
		--wp--preset--color--background: var(
			--wp--custom--color--dark-mode--white
		);
		--wp--preset--color--foreground: var(
			--wp--custom--color--dark-mode--black
		);
		--wp--preset--color--grey-light: var(
			--wp--custom--color--dark-mode--grey-light
		);
		--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
		--wp--preset--color--grey-dark: var(
			--wp--custom--color--dark-mode--grey-dark
		);
	}
}

/**
 * Override color values.
 * Preference is given to LIGHT mode.
 * !NOTE - There probably is no need to edit these values.
 */
@media (prefers-color-scheme: light) {
	body {
		color-scheme: light;
		--wp--preset--color--background: var(
			--wp--custom--color--dark-mode--white
		);
		--wp--preset--color--foreground: var(
			--wp--custom--color--dark-mode--black
		);
		--wp--preset--color--grey-light: var(
			--wp--custom--color--dark-mode--grey-light
		);
		--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
		--wp--preset--color--grey-dark: var(
			--wp--custom--color--dark-mode--grey-dark
		);
	}

	[color-scheme="dark"] body {
		color-scheme: dark;
		--wp--preset--color--background: var(
			--wp--custom--color--dark-mode--black
		);
		--wp--preset--color--foreground: var(
			--wp--custom--color--dark-mode--white
		);
		--wp--preset--color--grey-light: var(
			--wp--custom--color--dark-mode--grey-extra-dark
		);
		--wp--preset--color--grey: var(--wp--custom--color--dark-mode--grey);
		--wp--preset--color--grey-dark: var(
			--wp--custom--color--dark-mode--grey-dark
		);
	}
}
