/**
 * Tailwind inspired CSS utilities
 *
 * This file contains all the CSS utilities used by the project.
 * If you add new utility classes, please remember to update both
 * the CSS and the global array of classes in the `tailwind-utilities.ts` file.
 */
/** ====================
 ** COLORS
 ** ==================== */
.bg-primary {
	background-color: var(--wp--preset--color--primary);
}

.bg-secondary {
	background-color: var(--wp--preset--color--secondary);
}

.bg-tertiary {
	background-color: var(--wp--preset--color--tertiary);
}

.bg-quaternary {
	background-color: var(--wp--preset--color--quaternary);
}

/** ====================
 ** TEXT
 ** ==================== */
/** 
 * color
 */
.text-inherit {
	color: inherit;
}

.text-current {
	color: currentColor;
}

.text-transparent {
	color: transparent;
}

.text-primary {
	color: var(--wp--preset--color--primary);
}

.text-secondary {
	color: var(--wp--preset--color--secondary);
}

.text-tertiary {
	color: var(--wp--preset--color--tertiary);
}

.text-quaternary {
	color: var(--wp--preset--color--quaternary);
}

.text-black {
	color: var(--wp--preset--color--black);
}

.text-white {
	color: var(--wp--preset--color--white);
}

/** 
 * text-align
 */
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-start {
	text-align: start;
}

.text-end {
	text-align: end;
}

/** 
 * font-family
 */
.font-heading {
	font-family: var(--wp--preset--font-family--heading);
}

.font-body {
	font-family: var(--wp--preset--font-family--body);
}

/** 
 * font-size
 */
.text-xs {
	font-size: var(--wp--preset--font-size--xs);
}

.text-sm {
	font-size: var(--wp--preset--font-size--sm);
}

.text-base {
	font-size: var(--wp--preset--font-size--base);
}

.text-lg {
	font-size: var(--wp--preset--font-size--lg);
}

.text-xl {
	font-size: var(--wp--preset--font-size--xl);
}

.text-2xl {
	font-size: var(--wp--preset--font-size--2xl);
}

.text-3xl {
	font-size: var(--wp--preset--font-size--3xl);
}

.text-4xl {
	font-size: var(--wp--preset--font-size--4xl);
}

.text-5xl {
	font-size: var(--wp--preset--font-size--5xl);
}

.text-6xl {
	font-size: var(--wp--preset--font-size--6xl);
}

/** 
 * Font smoothing
 */
.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

/** 
 * font-style
 */
.italic {
	font-style: italic;
}

.not-italic {
	font-style: normal;
}

/** 
 * font-weight
 */
.font-thin {
	font-weight: 100;
}

.font-extralight {
	font-weight: 200;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

/** ====================
 ** MARGIN & PADDING
 ** ==================== */
/** 
 * Margins
 */
.m-10 {
	margin: var(--wp--preset--spacing--10);
}

.m-20 {
	margin: var(--wp--preset--spacing--20);
}

.m-30 {
	margin: var(--wp--preset--spacing--30);
}

.m-40 {
	margin: var(--wp--preset--spacing--40);
}

.m-50 {
	margin: var(--wp--preset--spacing--50);
}

.m-60 {
	margin: var(--wp--preset--spacing--60);
}

.m-70 {
	margin: var(--wp--preset--spacing--70);
}

.m-80 {
	margin: var(--wp--preset--spacing--80);
}

.mx-auto {
	margin-inline: auto;
}

.mx-10 {
	margin-inline: var(--wp--preset--spacing--10);
}

.mx-20 {
	margin-inline: var(--wp--preset--spacing--20);
}

.mx-30 {
	margin-inline: var(--wp--preset--spacing--30);
}

.mx-40 {
	margin-inline: var(--wp--preset--spacing--40);
}

.mx-50 {
	margin-inline: var(--wp--preset--spacing--50);
}

.mx-60 {
	margin-inline: var(--wp--preset--spacing--60);
}

.mx-70 {
	margin-inline: var(--wp--preset--spacing--70);
}

.mx-80 {
	margin-inline: var(--wp--preset--spacing--80);
}

.my-auto {
	margin-block: auto;
}

.my-10 {
	margin-block: var(--wp--preset--spacing--10);
}

.my-20 {
	margin-block: var(--wp--preset--spacing--20);
}

.my-30 {
	margin-block: var(--wp--preset--spacing--30);
}

.my-40 {
	margin-block: var(--wp--preset--spacing--40);
}

.my-50 {
	margin-block: var(--wp--preset--spacing--50);
}

.my-60 {
	margin-block: var(--wp--preset--spacing--60);
}

.my-70 {
	margin-block: var(--wp--preset--spacing--70);
}

.my-80 {
	margin-block: var(--wp--preset--spacing--80);
}

.mt-10 {
	margin-block-start: var(--wp--preset--spacing--10);
}

.mt-20 {
	margin-block-start: var(--wp--preset--spacing--20);
}

.mt-30 {
	margin-block-start: var(--wp--preset--spacing--30);
}

.mt-40 {
	margin-block-start: var(--wp--preset--spacing--40);
}

.mt-50 {
	margin-block-start: var(--wp--preset--spacing--50);
}

.mt-60 {
	margin-block-start: var(--wp--preset--spacing--60);
}

.mt-70 {
	margin-block-start: var(--wp--preset--spacing--70);
}

.mt-80 {
	margin-block-start: var(--wp--preset--spacing--80);
}

.mb-10 {
	margin-block-end: var(--wp--preset--spacing--10);
}

.mb-20 {
	margin-block-end: var(--wp--preset--spacing--20);
}

.mb-30 {
	margin-block-end: var(--wp--preset--spacing--30);
}

.mb-40 {
	margin-block-end: var(--wp--preset--spacing--40);
}

.mb-50 {
	margin-block-end: var(--wp--preset--spacing--50);
}

.mb-60 {
	margin-block-end: var(--wp--preset--spacing--60);
}

.mb-70 {
	margin-block-end: var(--wp--preset--spacing--70);
}

.mb-80 {
	margin-block-end: var(--wp--preset--spacing--80);
}

.ml-10 {
	margin-inline-start: var(--wp--preset--spacing--10);
}

.ml-20 {
	margin-inline-start: var(--wp--preset--spacing--20);
}

.ml-30 {
	margin-inline-start: var(--wp--preset--spacing--30);
}

.ml-40 {
	margin-inline-start: var(--wp--preset--spacing--40);
}

.ml-50 {
	margin-inline-start: var(--wp--preset--spacing--50);
}

.ml-60 {
	margin-inline-start: var(--wp--preset--spacing--60);
}

.ml-70 {
	margin-inline-start: var(--wp--preset--spacing--70);
}

.ml-80 {
	margin-inline-start: var(--wp--preset--spacing--80);
}

.mr-10 {
	margin-inline-end: var(--wp--preset--spacing--10);
}

.mr-20 {
	margin-inline-end: var(--wp--preset--spacing--20);
}

.mr-30 {
	margin-inline-end: var(--wp--preset--spacing--30);
}

.mr-40 {
	margin-inline-end: var(--wp--preset--spacing--40);
}

.mr-50 {
	margin-inline-end: var(--wp--preset--spacing--50);
}

.mr-60 {
	margin-inline-end: var(--wp--preset--spacing--60);
}

.mr-70 {
	margin-inline-end: var(--wp--preset--spacing--70);
}

.mr-80 {
	margin-inline-end: var(--wp--preset--spacing--80);
}

/** 
 * Paddings
 */
.p-10 {
	padding: var(--wp--preset--spacing--10);
}

.p-20 {
	padding: var(--wp--preset--spacing--20);
}

.p-30 {
	padding: var(--wp--preset--spacing--30);
}

.p-40 {
	padding: var(--wp--preset--spacing--40);
}

.p-50 {
	padding: var(--wp--preset--spacing--50);
}

.p-60 {
	padding: var(--wp--preset--spacing--60);
}

.p-70 {
	padding: var(--wp--preset--spacing--70);
}

.p-80 {
	padding: var(--wp--preset--spacing--80);
}

.px-auto {
	padding-inline: auto;
}

.px-10 {
	padding-inline: var(--wp--preset--spacing--10);
}

.px-20 {
	padding-inline: var(--wp--preset--spacing--20);
}

.px-30 {
	padding-inline: var(--wp--preset--spacing--30);
}

.px-40 {
	padding-inline: var(--wp--preset--spacing--40);
}

.px-50 {
	padding-inline: var(--wp--preset--spacing--50);
}

.px-60 {
	padding-inline: var(--wp--preset--spacing--60);
}

.px-70 {
	padding-inline: var(--wp--preset--spacing--70);
}

.px-80 {
	padding-inline: var(--wp--preset--spacing--80);
}

.py-auto {
	padding-block: auto;
}

.pl-10 {
	padding-inline-start: var(--wp--preset--spacing--10);
}

.pl-20 {
	padding-inline-start: var(--wp--preset--spacing--20);
}

.pl-30 {
	padding-inline-start: var(--wp--preset--spacing--30);
}

.pl-40 {
	padding-inline-start: var(--wp--preset--spacing--40);
}

.pl-50 {
	padding-inline-start: var(--wp--preset--spacing--50);
}

.pl-60 {
	padding-inline-start: var(--wp--preset--spacing--60);
}

.pl-70 {
	padding-inline-start: var(--wp--preset--spacing--70);
}

.pl-80 {
	padding-inline-start: var(--wp--preset--spacing--80);
}

.pr-10 {
	padding-inline-end: var(--wp--preset--spacing--10);
}

.pr-20 {
	padding-inline-end: var(--wp--preset--spacing--20);
}

.pr-30 {
	padding-inline-end: var(--wp--preset--spacing--30);
}

.pr-40 {
	padding-inline-end: var(--wp--preset--spacing--40);
}

.pr-50 {
	padding-inline-end: var(--wp--preset--spacing--50);
}

.pr-60 {
	padding-inline-end: var(--wp--preset--spacing--60);
}

.pr-70 {
	padding-inline-end: var(--wp--preset--spacing--70);
}

.pr-80 {
	padding-inline-end: var(--wp--preset--spacing--80);
}

.py-10 {
	padding-block: var(--wp--preset--spacing--10);
}

.py-20 {
	padding-block: var(--wp--preset--spacing--20);
}

.py-30 {
	padding-block: var(--wp--preset--spacing--30);
}

.py-40 {
	padding-block: var(--wp--preset--spacing--40);
}

.py-50 {
	padding-block: var(--wp--preset--spacing--50);
}

.py-60 {
	padding-block: var(--wp--preset--spacing--60);
}

.py-70 {
	padding-block: var(--wp--preset--spacing--70);
}

.py-80 {
	padding-block: var(--wp--preset--spacing--80);
}

.pt-10 {
	padding-block-start: var(--wp--preset--spacing--10);
}

.pt-20 {
	padding-block-start: var(--wp--preset--spacing--20);
}

.pt-30 {
	padding-block-start: var(--wp--preset--spacing--30);
}

.pt-40 {
	padding-block-start: var(--wp--preset--spacing--40);
}

.pt-50 {
	padding-block-start: var(--wp--preset--spacing--50);
}

.pt-60 {
	padding-block-start: var(--wp--preset--spacing--60);
}

.pt-70 {
	padding-block-start: var(--wp--preset--spacing--70);
}

.pt-80 {
	padding-block-start: var(--wp--preset--spacing--80);
}

.pb-10 {
	padding-block-end: var(--wp--preset--spacing--10);
}

.pb-20 {
	padding-block-end: var(--wp--preset--spacing--20);
}

.pb-30 {
	padding-block-end: var(--wp--preset--spacing--30);
}

.pb-40 {
	padding-block-end: var(--wp--preset--spacing--40);
}

.pb-50 {
	padding-block-end: var(--wp--preset--spacing--50);
}

.pb-60 {
	padding-block-end: var(--wp--preset--spacing--60);
}

.pb-70 {
	padding-block-end: var(--wp--preset--spacing--70);
}

.pb-80 {
	padding-block-end: var(--wp--preset--spacing--80);
}

/** ====================
 ** GRID & FLEX
 ** ==================== */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

/** 
 * Columns
 */
.grid-cols-none {
	grid-template-columns: none;
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
	grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-rows-none {
	grid-template-rows: none;
}

/** 
 * Rows
 */
.grid-rows-1 {
	grid-template-rows: repeat(1, minmax(0, 1fr));
}

.grid-rows-2 {
	grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3 {
	grid-template-rows: repeat(3, minmax(0, 1fr));
}

.grid-rows-4 {
	grid-template-rows: repeat(4, minmax(0, 1fr));
}

.grid-rows-5 {
	grid-template-rows: repeat(5, minmax(0, 1fr));
}

.grid-rows-6 {
	grid-template-rows: repeat(6, minmax(0, 1fr));
}

/** 
 * Subgrid
 */
.grid-cols-subgrid {
	grid-template-columns: subgrid;
}

/** 
 * Order
 */
.order-none {
	order: 0;
}

.order-first {
	order: calc(-infinity);
}

.order-last {
	order: calc(infinity);
}

.order-1 {
	order: 1;
}

.order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.order-4 {
	order: 4;
}
.order-5 {
	order: 5;
}

.order-6 {
	order: 6;
}

/** 
 * Gap
 */
.gap-1 {
	gap: var(--wp--preset--spacing--10);
}

.gap-2 {
	gap: var(--wp--preset--spacing--20);
}

.gap-3 {
	gap: var(--wp--preset--spacing--30);
}

.gap-4 {
	gap: var(--wp--preset--spacing--40);
}

.gap-5 {
	gap: var(--wp--preset--spacing--50);
}

.gap-6 {
	gap: var(--wp--preset--spacing--60);
}

.gap-6 {
	gap: var(--wp--preset--spacing--60);
}

.gap-7 {
	gap: var(--wp--preset--spacing--70);
}

.gap-8 {
	gap: var(--wp--preset--spacing--80);
}

/** 
 * Gap X
 */
.gap-x-1 {
	column-gap: var(--wp--preset--spacing--10);
}

.gap-x-2 {
	column-gap: var(--wp--preset--spacing--20);
}

.gap-x-3 {
	column-gap: var(--wp--preset--spacing--30);
}

.gap-x-4 {
	column-gap: var(--wp--preset--spacing--40);
}

.gap-x-5 {
	column-gap: var(--wp--preset--spacing--50);
}

.gap-x-6 {
	column-gap: var(--wp--preset--spacing--60);
}

.gap-x-7 {
	column-gap: var(--wp--preset--spacing--70);
}

.gap-x-8 {
	column-gap: var(--wp--preset--spacing--80);
}

/** 
 * Gap Y
 */
.gap-y-1 {
	row-gap: var(--wp--preset--spacing--10);
}

.gap-y-2 {
	row-gap: var(--wp--preset--spacing--20);
}

.gap-y-3 {
	row-gap: var(--wp--preset--spacing--30);
}

.gap-y-4 {
	row-gap: var(--wp--preset--spacing--40);
}

.gap-y-5 {
	row-gap: var(--wp--preset--spacing--50);
}

.gap-y-6 {
	row-gap: var(--wp--preset--spacing--60);
}

.gap-y-7 {
	row-gap: var(--wp--preset--spacing--70);
}

.gap-y-8 {
	row-gap: var(--wp--preset--spacing--80);
}

/** 
 * justify-content
 */
.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.justify-stretch {
	justify-content: stretch;
}

.justify-baseline {
	justify-content: baseline;
}

.justify-normal {
	justify-content: normal;
}

/** 
 * justify-items
 */
.justify-items-start {
	justify-items: flex-start;
}

.justify-items-end {
	justify-items: flex-end;
}

.justify-items-center {
	justify-items: center;
}

.justify-items-stretch {
	justify-items: stretch;
}

.justify-items-normal {
	justify-items: normal;
}

/** 
 * justify-self
 */
.justify-self-auto {
	justify-self: auto;
}

.justify-self-start {
	justify-self: flex-start;
}

.justify-self-end {
	justify-self: flex-end;
}

.justify-self-center {
	justify-self: center;
}

.justify-self-stretch {
	justify-self: stretch;
}

/** 
 * align-content
 */
.content-normal {
	align-content: normal;
}

.content-center {
	align-content: center;
}

.content-start {
	align-content: flex-start;
}

.content-end {
	align-content: flex-end;
}

.content-between {
	align-content: space-between;
}

.content-around {
	align-content: space-around;
}

.content-evenly {
	align-content: space-evenly;
}

.content-baseline {
	align-content: baseline;
}

.content-stretch {
	align-content: stretch;
}

/** 
 * align-items
 */
.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-center {
	align-items: center;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

/** 
 * align-self
 */
.self-auto {
	align-self: auto;
}

.self-start {
	align-self: flex-start;
}

.self-end {
	align-self: flex-end;
}

.self-center {
	align-self: center;
}

.self-stretch {
	align-self: stretch;
}

.self-baseline {
	align-self: baseline;
}

/** 
 * place-content
 */
.place-content-center {
	place-content: center;
}

.place-content-start {
	place-content: start;
}

.place-content-end {
	place-content: end;
}

.place-content-between {
	place-content: space-between;
}

.place-content-around {
	place-content: space-around;
}

.place-content-evenly {
	place-content: space-evenly;
}

.place-content-stretch {
	place-content: stretch;
}

.place-content-baseline {
	place-content: baseline;
}

/** 
 * place-items
 */
.place-items-start {
	place-items: start;
}

.place-items-end {
	place-items: end;
}

.place-items-center {
	place-items: center;
}

.place-items-stretch {
	place-items: stretch;
}

.place-items-baseline {
	place-items: baseline;
}

/** 
 * place-self
 */
.place-self-auto {
	place-self: auto;
}

.place-self-start {
	place-self: start;
}

.place-self-end {
	place-self: end;
}

.place-self-center {
	place-self: center;
}

.place-self-stretch {
	place-self: stretch;
}
