.contact-us {
	display: grid;
	gap: var(--wp--preset--spacing--40);
	width: var(--wp--custom--layout--site-width);
	max-width: var(--wp--custom--content-size);
	margin-inline: auto;
}

.contact-us__heading {
	color: var(--wp--preset--color--primary);
}

.contact-us__separator {
	width: 100%;
	height: 0;
	max-width: 150px;
	border: 3px solid var(--wp--preset--color--primary);
	margin-left: 0;
}

.contact-us__address-container {
	margin-top: var(--wp--preset--spacing--40);
	font-style: normal;
}

.contact-us__address--name {
	margin-bottom: calc(var(--wp--preset--spacing--20) / 2);
}

.contact-us__address--title {
	margin-top: 0;
	margin-bottom: var(--wp--preset--spacing--30);
}

.contact-us__address--phone,
.contact-us__address--email {
	margin-bottom: var(--wp--preset--spacing--20);
}

.contact-us img {
	width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
}


.contact-us.is-wide {
	max-width: var(--wp--custom--wide-size);
}

.contact-us.is-wide .contact-us__separator {
	border-color: var(--wp--preset--color--foreground);
}


@media (min-width: 800px) {
	.contact-us {
		grid-template-areas:
			"heading heading"
			"contact-info image"
	}

	.contact-us__heading {
		grid-area: heading;
	}

	.contact-us__separator {
		grid-area: contact-info;
	}

	.contact-us__address-container {
		grid-area: contact-info;
	}

	.contact-us img {
		grid-area: image;
	}
}