.contact-card-item > * {
    margin: 0;
}

.contact-card-item {
    display: grid;
    justify-items: center;
    gap: var(--wp--preset--spacing--40);

    background-color: #F8F6F4;
    max-width: 25rem;

    padding-block: var(--wp--preset--spacing--40);
    padding-inline: var(--wp--preset--spacing--40);
}

.contact-card-item__heading,
.contact-card-item__name {
    font-family: var(--wp--preset--font-family--heading);
    font-size: var(--wp--preset--font-size--large);
    text-align: center;
}

.contact-card-item__image {
    border-radius: 50%;
    max-width: 70%;
}