/** ======================
 ** CAROUSEL STYLES
 ** ==================== */

.generic-carousel {
	margin-block: var(--wp--preset--spacing--50);
}

.generic-carousel__list {
	display: flex;
	flex-direction: row;
	gap: 0;
}

/** ======================
 ** SPLIDE GENERAL
 ** ==================== */

.generic-carousel .splide {
	display: grid;
	align-items: center;
	isolation: isolate;
}

.generic-carousel .splide > * {
	grid-area: 1 / 1;
}

/** ======================
 ** SPLIDE ARROWS
 ** ==================== */

.generic-carousel .splide__arrows {
	display: flex;
	justify-content: space-between;
	width: calc(var(--wp--custom--wide-size) - 3rem);
	margin-inline: auto;

	z-index: 999;
}

.generic-carousel .splide__arrow {
	background: none;
	border: none;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
}

.generic-carousel .splide__arrow--prev {
	transform: rotate(180deg);
}
