.apartment-feature {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--40);
	width: var(--wp--custom--layout--site-width);
	max-width: var(--wp--custom--wide-size);
	margin-inline: auto;
}

.apartment-feature > div {
	position: relative;
}

.apartment-feature__heading {
	font-size: var(--wp--preset--font-size--x-large);
	color: var(--wp--preset--color--primary);
}

.apartment-feature__paragraph {
}

.apartment-feature__image {
	position: relative;
	padding: var(--wp--preset--spacing--30);
}

img.apartment-feature__decorative-image--arch {
    position: absolute;
    left: 0;
    bottom: 0;
}

.apartment-feature > div:last-child::after {
    content: "";
    width: calc(100% - var(--wp--preset--spacing--50));
    height: calc(100% - var(--wp--preset--spacing--50));
    position: absolute;
    top: 0;
    right: 0;

    background-color: var(--wp--preset--color--background-light);

    z-index: -1;
}

@media (min-width: 800px) {
	.apartment-feature {
		grid-template-columns: 2.25fr 1fr;
	}

	.apartment-feature div:first-child {
		grid-area: 1 / 2;

	}

	.apartment-feature div:last-child { 
		grid-area: 1 / 1;
	}
}