.editor-image-gallery {
	display: grid;
	justify-items: center;

	margin-block: var(--wp--preset--spacing--50);
}

.editor-image-gallery .image-gallery__images {
	margin-block: 0;
}

.editor-image-gallery__help {
	text-align: center;
	margin-bottom: 3rem;
}

.editor-image-gallery .components-button {
	margin-top: var(--wp--preset--spacing--30);
}
