.columns-image-left {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--40);
	width: var(--wp--custom--layout--site-width);
	max-width: 100%;
	margin-inline: auto;
}

.columns-image-left > div {
	position: relative;
}

.columns-image-left__image {
	width: 100%;
	translate: calc(var(--wp--custom--layout--site-margin) * -1) 0px;
}

.columns-image-left__heading {
	margin-left: initial;
}

.columns-image-left__paragraph {
	margin-top: 0;
}

.columns-image-left__separator {
	width: 60% !important;
	margin-left: 0;
    margin-bottom: var(--wp--preset--spacing--40);
    border-bottom: 0.5em solid var(--wp--preset--color--primary);
}

.columns-image-left__decorative-image--arch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    transform: translate(var(--wp--custom--layout--site-margin), 0);
    max-width: 175px;
}

@media (min-width: 800px) {
	.columns-image-left {
		grid-template-columns: 2.25fr 1fr;
	}

	.columns-image-left__heading {
		margin-left: calc(var(--wp--preset--spacing--70) * -1);
	}
}