:where(.container-50-50) {
	display: grid;
	grid-template-columns: 1fr;
	
	width: 100%;
	max-width: calc( 100% - var(--wp--custom--spacing--medium, 2rem) * 2 );

	margin-top: var(--wp--custom--spacing--large, 5rem);
	margin-bottom: var(--wp--custom--spacing--large, 5rem);
	margin-inline: auto;
}

@media (min-width: 800px) {
	:where(.container-50-50) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	:where(.container-50-50.is-reversed div:first-child) {
		grid-area: 1 / 2;

	}

	:where(.container-50-50.is-reversed div:last-child) { 
		grid-area: 1 / 1;
	}
}