:where(.header) {
	--_color: var(--wp--custom--layout--header--text-color);
	--_background: var(--wp--custom--layout--header--background-color);
	--_padding: var(--wp--custom--layout--header--container-padding);

	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 3em;

	padding-top: var(--_padding);
	padding-bottom: var(--_padding);

	background-color: var(--_background);
}

@media (min-width: 800px) {
	:where(.header) {
		justify-content: center;
	}
}

/**
 * Active state
 */
/* Set full height */
:where(.header.active) {
	height: 100vh;
	flex-direction: column;
}

/* Reset visibility to default values */
:where(.header.active > *) {
	display: revert;
}
