.columns-highlighted-text {
	display: flex;
	gap: var(--wp--preset--spacing--60);

	width: var(--wp--custom--layout--site-width);
	max-width: var(--wp--style--global--wide-size);
	margin-inline: auto;
}

.columns-highlighted-text__heading {
	font-family: var(--wp--custom--font-family--body);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: normal;

	margin-top: 1em;
}

.columns-highlighted-text__paragraph {
	font-family: var(--wp--custom--font-family--heading);
	font-size: var(--wp--preset--font-size--x-large);
	line-height: 1.5;
	font-weight: bold;

	margin-top: 0;
}

.columns-highlighted-text__separator {
	width: 100% !important;
    border-bottom: 1px solid var(--wp--preset--color--primary);
}

@media (min-width: 800px) {

}