/* ================== */
/* ===== GENERAL ==== */
/* ================== */
.audio-player {
	width: 100%;
	max-width: 50rem;
}

/* ================== */
/* ==== PLAYLIST ==== */
/* ================== */
.audio-player__list {
	/* List Resets */
	padding: 0;
	margin: 0;
	list-style: none;
	counter-reset: playlist;

	/* List styling */
}

/**
 * List item
 */
.audio-player__list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--wp--preset--spacing--30);
	padding: 0.5em 0.75em;
}

.audio-player__list-item-text {
	display: flex;
    line-height: 1.4;
}

.audio-player__list-item-text::before {
	display: block;
	counter-increment: playlist;
	content: counter(playlist);
	font-size: var(--wp--preset--font-size--small);
	font-weight: bold;
	margin-right: var(--wp--preset--spacing--30);
}

.audio-player__list-item-image,
.audio-player__list-item > svg {
	max-width: 3rem;
}

/* Hide list item cover image on super small screens */
@media screen and (max-width: 350px) {
	.audio-player__list-item-image,
	.audio-player__list-item > svg {
		display: none;
	}
}

/**
 * List item states
 */
.audio-player__list-item[aria-current="true"] {
	background-color: var(--wp--preset--color--grey-light);
}

/* Allow focus ring for tab scrolling */
.audio-player__list-item:focus-visible {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}

/* ================== */
/* == AUDIO PLAYER == */
/* ================== */
.audio-player {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--20);

	margin-bottom: var(--wp--preset--spacing--30);
}

/**
 * Timeline
 */
.audio-player__timeline {
	display: grid;
	grid-template-columns: 0.1fr 1fr 0.1fr;
	justify-content: space-between;
	gap: var(--wp--preset--spacing--20);
	width: 100%;
}

.audio-player__timeline-duration {
	justify-self: end;
}

/**
 * Top Container (play button, current track, name, artist, cover etc)
 */
.audio-player__info {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas:
		"cover cover"
		"btn details";
}

@media screen and (min-width: 600px) {
	.audio-player__info {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: var(--wp--preset--spacing--20);
	}
}

/**
 * Play Button
 */
.audio-player__btn {
	grid-area: btn;
	border: none;
	background-color: transparent;
	margin-top: 2rem;
}

.audio-player__btn--play svg {
	--_size: 3.5em;

	width: var(--_size);
	height: var(--_size);
}

/**
 * Track details container (audio quality tags, name, artist, now playing etc)
 */
.audio-player__track-details {
	grid-area: details;
	margin-top: 2rem;
}

.audio-player__now-playing {
	display: flex;
	align-items: center;
	gap: var(--wp--preset--spacing--20);
}

.audio-player__now-playing h3 {
	text-transform: uppercase;
	font-size: var(--wp--preset--font-size--small);
	margin: 0;

	opacity: 0.7;
}

.audio-player__quality {
	display: flex;
	gap: var(--wp--preset--spacing--20);
}

.audio-player__quality-item {
	font-size: calc(var(--wp--preset--font-size--small) * 0.9);
	padding: 0em 0.33em;
	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--black);
	border-radius: 0.5em;
}

.audio-player__track-name {
	margin: 0;
}

/* Hide quality attribute tags on super small screens */
@media screen and (max-width: 350px) {
	.audio-player__quality {
		display: none;
	}
}

/**
 * Cover image
 */
.audio-player__cover,
.audio-player__info > svg {
	grid-area: cover;
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
}

@media screen and (min-width: 600px) {
	.audio-player__cover,
	.audio-player__info > svg {
		margin-left: auto;
		max-width: 8rem;
	}
}
