.wp-block-ksd-part-footer > .block-editor-inner-blocks {
	width: min(calc(100% - calc(var(--_gap)) * 2), 1000px);
	margin-inline: auto;
}

.wp-block-ksd-part-footer {
	--_gap: var(--wp--preset--spacing--40);
	--_columns: 1fr var(--wp--preset--spacing--40);

	padding-block: var(--wp--preset--spacing--50);

	background-color: var(--wp--preset--color--grey-extra-light);

	@media screen and (min-width: 800px) {
		--_columns: repeat(4, minmax(0, 1fr));
	}
}
