/** ======================
 **   HEADER GLOBAL
 ** ==================== */

.header {
	--_background-color: var(--wp--preset--color--background);

	--_logo-width: clamp(11.0890051808976rem, calc(9.30881991978825rem + 8.90092630554659vw), 19.9899314864442rem);

	--_font-color: var(--wp--preset--color--foreground);
	--_font-weight: 300;
	--_font-size: var(--wp--preset--font-size--large);
	--_font-family: var(--wp--preset--font-family--heading);

	--_item-border: 0px solid var(--_font-color);

	--_toggle-margin: var(--wp--preset--spacing--30);
	--_toggle-animation-duration: 200ms;
	--_toggle-border: 0px solid var(--_font-color);
	--_toggle-radius: 0px;
	--_toggle-color: var(--_font-color);
	--_toggle-size: calc(var(--wp--preset--font-size--medium) * 3.75);

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.5rem;

	padding-inline: 1em;
	padding-block: 1em;

	background-color: var(--_background-color);

	height: var(--wp--preset--spacing--70);
	width: var(--wp--custom--wide-size);
	margin-inline: auto;

	z-index: 9999;
}

@media (min-width: 800px) {
	.header {
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		height: 100%;
	}
}

/** ======================
 **   HEADER LOGO
 ** ==================== */
.header__logo img {
	width: 100%;
	height: auto;
}

.header__logo {
	position: absolute;
	top: calc(var(--_toggle-margin) * 5.5);
	left: var(--_toggle-margin);
	width: var(--_logo-width);
}

@media screen and (min-width: 800px) {
	.header__logo {
		position: relative;
		top: revert;
		left: revert;
		margin: revert;
	}
}

/** ======================
 **   HEADER SITE NAV
 ** ==================== */

.header__site-nav {
	display: flex;
	align-items: center;
	gap: var(--wp--preset--spacing--50);

	width: 100%;
	max-width: fit-content;
}

.header__menu {
	/* Reset list styles */
	list-style: none;
	padding: 0;
	margin: 0;

	/* Menu styling */
	display: none;
	flex-direction: row;
	gap: var(--wp--preset--spacing--50);
	margin-block: 2rem;

	width: 100%;
}

.header__menu .menu-item a {
	font-family: var(--_font-family);
	font-weight: var(--_font-weight);
	font-size: var(--_font-size);
	text-transform: none;
	text-align: center;
	white-space: nowrap;
	line-height: 1.3;
	color: var(--_font-color);
}

/**
 * Menu Toggle
 */
.header__toggle {
	display: initial;
	position: absolute;
	top: calc(var(--_toggle-margin) * 4.55);
	right: calc(var(--_toggle-margin) * 2);

	background: transparent;

	border: var(--_toggle-border);
	border-radius: var(--_toggle-radius);
}

.header__toggle svg {
	width: var(--_toggle-size);
}
/* Toggle active state */
.header__toggle[aria-expanded="true"] .line {
	transform-origin: center;
	animation-duration: var(--_toggle-animation-duration);
	animation-timing-function: ease-in;
	y: 45;
}

.header__toggle[aria-expanded="true"] .line.top {
	animation-name: rotate-plus-45;
	transform: rotate(45deg);
}

.header__toggle[aria-expanded="true"] .line.middle {
	opacity: 0;
}

.header__toggle[aria-expanded="true"] .line.bottom {
	animation-name: rotate-negative-45;
	transform: rotate(-45deg);
}

@media (min-width: 800px) {
	/**
	 * Menu
	 */
	.header__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: initial;
	}

	/* Menu item line */
	.header__menu .menu-item:not(.header__menu .menu-item:last-child) {
		border-right: var(--_item-border);
	}

	/**
	 * Toggle
	 */
	.header__toggle {
		display: none;
	}
}

/** ======================
 **   HEADER BUTTONS
 ** ==================== */

.header__buttons .wp-block-buttons {
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0.75rem;
}

@media screen and (min-width: 800px) {
	.header__buttons .wp-block-buttons {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.header__buttons .wp-block-buttons {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (min-width: 1200px) {
	.header__buttons .wp-block-buttons {
		flex-direction: row;
	}
}

/** ==========================
 ** HEADER OPEN STATE (MOBILE)
 ** ======================= */

/* Set full height */
.header.active {
	height: 100vh;
	flex-direction: column;
}

/* Reset visibility to default values */
.header.active > * {
	display: revert;
}

/* Menu items */
.header__menu .current-menu-item a {
	font-weight: bold;
}

.header.active .header__site-nav {
	margin-top: var(--wp--preset--spacing--60);
}

.header.active .header__menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: var(--wp--preset--spacing--70);
	margin-bottom: var(--wp--preset--spacing--70);
}

.header.active .header__buttons .wp-block-buttons {
	display: flex;
	flex-direction: column;
}

/** ==========================
 ** HEADER STICKY
 ** ======================= */
.has-transition.header {
	opacity: 0;
}

.is-sticky.header {
	position: sticky;
	top: 0;
	z-index: 9999;

	height: initial;

	opacity: 1;

	transition: opacity 0.2s ease-in-out;
}



/** ======================
 **   ANIMATIONS
 ** ==================== */
/**
  * Toggle animations
  */
@keyframes rotate-plus-45 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@keyframes rotate-negative-45 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-45deg);
	}
}
