.settingsContainer {
	display: grid;
	gap: 0.5rem;

	min-width: 15rem;
	padding-block: 0.75rem 1rem;
	padding-inline: 1rem;
}

.navContainer {
}

.navLabel {
	font-size: 0.675rem;
	text-transform: uppercase;
	font-weight: 700;

	margin-bottom: 0.25rem;
}

.navList {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	margin: 0;
}

.navListItem {
	display: flex;
	gap: 0.375rem;
	align-items: center;
	justify-content: space-between;

	margin: 0;
}

.navListItemLabel {
	display: flex;
	gap: 0.375rem;
	align-items: center;

	font-size: 1rem;
}

.navListItemIcon {
	width: 1.175rem;
	height: 1.175rem;
}

.navListItemCheckMark {
}
