<!-- wp:template-part {"slug":"header","tagName":"header", "className": "header"} /-->
<!-- wp:group {"tagName":"div"} -->
<div id="primary" class="wp-block-group content-area page privacy-policy">
	<!-- wp:group {"tagName":"main"} -->
	<main id="main" class="wp-block-group site-main">
		<!-- wp:group {"tagName":"section"} -->
		<section>
			<!-- wp:post-title {"level":"1"} /-->
			<!-- wp:post-content /-->
		</section>
		<!-- /wp:group -->
	</main>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "footer"} /-->
