<!-- wp:template-part {"slug":"header","tagName":"header", "className": "header"} /-->
<!-- wp:group {"tagName":"div"} -->
<div id="primary" class="wp-block-group content-area single">
  <!-- wp:group {"tagName":"main"} -->
  <main id="main" class="wp-block-group site-main single post">
    <!-- wp:group {"tagName":"article"} -->
    <article class="wp-block-group post-content">
      <!-- wp:post-content /-->
    </article>
    <!-- /wp:group -->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "footer"} /-->
