/**
 * COMMON
 */
main > .entry-content > section > * {
	text-align: center;
}

/**
 * HERO
 */
main > .entry-content > section.not-found-hero {
	display: grid;
	place-items: center;
	margin-top: var(--wp--preset--spacing--60);
	margin-bottom: var(--wp--preset--spacing--40);
}

.not-found-hero__heading {
	font-size: calc(var(--wp--preset--font-size--colossal) * 2);
	margin-bottom: 0em;
}

.not-found-hero__text {
	font-family: var(--wp--preset--font-family--accent);
	font-size: var(--wp--preset--font-size--large);
}

/**
 * CONTACT US
 */
main > .entry-content > section.not-found-contact-us {
	display: grid;
	place-items: center;
	margin-top: var(--wp--preset--spacing--40);
}

.not-found-contact-us__heading {
	margin-bottom: var(--wp--preset--spacing--20);
}

.not-found-contact-us__text {
	font-family: var(--wp--preset--font-family--accent);
	font-size: var(--wp--preset--font-size--large);
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.not-found-contact-us__contact-wrapper {
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

.not-found-contact-us__contact-wrapper .site-contact {
	gap: var(--wp--preset--spacing--20);
}

.not-found-contact-us__contact-wrapper .site-contact__icon {
	--_icon-background: var(--wp--preset--color--white);
	--_icon-color: var(--wp--preset--color--grey-dark);
	--_icon-bg-size: var(--wp--preset--font-size--medium);
}

.not-found-contact-us__contact-wrapper .site-contact__icon svg {
	width: calc(var(--_icon-bg-size) * 0.8);
	height: calc(var(--_icon-bg-size) * 0.8);
}

.not-found-contact-us__contact-wrapper a:hover .site-contact__icon {
	--_icon-background: var(--wp--preset--color--primary-dark);
	--_icon-color: var(--wp--preset--color--white);
}
