/**
 * Global styling
 */
.dark-mode-toggle {
	--_icon-size: 3em;
	--_icon-scale: 0.75;
	--_icon-color: var(--wp--preset--color--background);
	--_icon-background-color: var(--wp--preset--color--foreground);

	display: none;
	position: relative;

	margin: 1rem;
	padding: 1rem;

	background-color: var(--_icon-background-color);

	border: none;
	border-radius: 50%;

	transform: scale(var(--_icon-scale));
}

.dark-mode-toggle__icon {
	width: var(--_icon-size);
	height: var(--_icon-size);
}

@media screen and (min-width: 1000px) {
	.dark-mode-toggle {
		display: inline-block;
	}
}

/**
 * Light mode icon (moon)
 */
.dark-mode-toggle__icon-circle {
	fill: var(--_icon-color);
}

.dark-mode-toggle__icon-overlap {
	fill: var(--_icon-background-color);
	display: none;
}

[color-scheme="light"] .dark-mode-toggle__icon-overlap {
	display: inline-block;
	transform: translate(5.5em, -3.5em);
}

[color-scheme="light"] .dark-mode-toggle__icon-line {
	display: none;
}

[color-scheme="light"] .dark-mode-toggle__icon {
	transform: scale(2);
}

/**
 * Dark mode icon (sun)
 */
.dark-mode-toggle__icon-line {
	stroke: var(--_icon-color);
	stroke-width: 40;
	stroke-linecap: round;
}
