.container {
	max-width: 250px;
}

.image {
	width: 100%;
	height: auto;
}

.buttons {
	display: flex;
	justify-content: space-between;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.buttonPrimary {
	justify-content: center;
	width: 100%;
}

.buttonSecondary {
	justify-content: center;
	width: 100%;
	color: #1e1e1e !important;
	background-color: transparent !important;
	box-shadow: inset 0 0 0 1px #ddd !important;
}
