.reference-slider__editor-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    max-width: 30rem;
    min-height: 10rem;

    background: lightgrey;

    padding: 2em 3em;
}