/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Theme Settings
2.0 Metaboxes
3.0 Edtior Overrides
4.0 Modifiers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  1.0 Theme Settings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  2.0 Metaboxes
--------------------------------------------------------------*/
.metabox__input-wrapper {
	display: grid;
	grid-template-columns: var(--wp--preset--spacing--60) 1fr;
	gap: var(--wp--preset--spacing--20);
	align-items: center;

	margin-bottom: var(--wp--preset--spacing--10);
}

.metabox__input-wrapper label {
	font-weight: bold;
}

.metabox__input-wrapper input {
	max-width: 30rem;
}

/*--------------------------------------------------------------
  3.0 Edtior Overrides
--------------------------------------------------------------*/
/**
 * Fix the block editor button block appender color
 * TODO: Find out why WordPress is not applying the correct color and trying to apply dark theme
 */
.is-dark-theme .block-editor-button-block-appender {
	box-shadow: inset 0 0 0 1px #000;
	color: #000;
}

/**
 * Add margins to direct child blocks of the root container
 */
.is-root-container > *:not(:first-child) {
	margin-block: var(--wp--preset--spacing--60);
}

.is-root-container > *:first-child {
	margin-top: var(--wp--preset--spacing--40);
}

/*--------------------------------------------------------------
  4.0 Modifiers
--------------------------------------------------------------*/
.is-visually-hidden {
	position: relative;
	width: fit-content;
}

.is-visually-hidden::after {
	--_color: var(--wp--preset--color--white);
	--_background: rgba(255, 0, 0, 0.75);

	content: "Hidden visually";
	position: absolute;
	right: 0;
	bottom: 0;

	display: grid;
	place-items: center;

	font-size: 0.5rem;
	background-color: var(--_background);
	color: var(--_color);

	padding: 1em 2em;

	z-index: 9999;
}
