/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Theme Settings
2.0 Edtior Styles
3.0 Custom Blocks
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  1.0 Theme Settings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
  2.0 Edtior Styles
--------------------------------------------------------------*/
button.ksd-editor-btn.ksd-editor-btn--placeholder {
	margin: 1rem;
	padding: 0.5rem 1rem;
	background-color: transparent;
	color: grey;
	border: 2px solid grey;
}

.components-popover.block-editor-block-popover.block-editor-block-list__block-popover {
	z-index: 9999;
}

/* Image preview buttons */
.image-block-buttons,
.components-panel__row {
	position: relative;
	z-index: 9998;
}

.image-block-buttons {
	display: flex;
	flex-direction: column;
}

.image-block-buttons__update {
	display: flex;
}

.image-block-buttons__update {
	white-space: nowrap;
}

/*--------------------------------------------------------------
  3.0 Custom Blocks
--------------------------------------------------------------*/

/**
 * Container 100
 */
section.wp-block-ksd-container-100 {
	display: grid;
	justify-content: center;
	justify-items: center;
}

section.wp-block-ksd-container-100.has-bg-color > *:not(div) {
	color: white;
}

section.wp-block-ksd-container-100.has-bg-color[style="background-color:var(--wp--preset--color--grey-light)"]
	> *:not(div) {
	color: initial;
}
