/** ======================
 ** SHADOW STYLE
 ** ==================== */
.is-style-wrapper-shadow {
	--_border-color: var(--wp--preset--color--grey-light);
	--_border: 0.5em solid var(--_border-color);

	--_shadow-color: var(--wp--preset--color--grey-light);
	--_shadow-base: 0.1em;
	--_shadow: var(--_shadow-base) var(--_shadow-base) 0px 0px
			var(--_shadow-color),
		calc(var(--_shadow-base) * 2) calc(var(--_shadow-base) * 2) 0px 0px
			var(--_shadow-color),
		calc(var(--_shadow-base) * 3) calc(var(--_shadow-base) * 3) 0px 0px
			var(--_shadow-color),
		calc(var(--_shadow-base) * 4) calc(var(--_shadow-base) * 4) 0px 0px
			var(--_shadow-color),
		calc(var(--_shadow-base) * 5) calc(var(--_shadow-base) * 5) 0px 0px
			var(--_shadow-color);

	border-radius: var(--_radius);
	border: var(--_border);

	box-shadow: var(--_shadow);
}
