.post-container {
	--_container-width: 80ch;

	width: min(
		calc(100% - calc(var(--wp--preset--spacing--40)) * 2),
		var(--_container-width)
	);
	margin-inline: auto;
}

.post-hero {
	display: grid;
	grid-template-areas:
		"image"
		"meta"
		"title"
		"tags";
}

.post-hero__heading {
	grid-area: title;
	margin-block-start: 0.5em;
	margin-block-end: 0;
}

.post-hero__image {
	grid-area: image;

	border-radius: 1rem;
	width: 100%;
	height: auto;

	aspect-ratio: 16 / 8;
	object-fit: cover;
	object-position: center center;

	margin-block-start: 2rem;
	margin-block-end: 1rem;
}

.post-hero__meta {
	display: grid;
	grid-area: meta;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	align-items: end;

	margin-block-start: 0.5em;
	margin-block-end: 0.25em;
}

.post-hero__author {
	font-weight: bold;
	font-size: var(--wp--preset--font-size--large);
	line-height: 1;

	margin: 0;
}

.post-hero__date {
	display: flex;
}

.post-hero__reading-time,
.post-hero__published-date {
	font-size: var(--wp--preset--font-size--small);
	opacity: 0.9;
}

.post-hero__published-date::before {
	--_size: 0.25em;
	content: "";
	display: inline-block;
	width: var(--_size);
	height: var(--_size);
	background: var(--wp--preset--color--foreground);
	border-radius: 50%;
	margin-inline: calc(var(--_size) * 2);
	transform: translateY(-50%);
	opacity: 0.9;
}

.post-hero__author-image {
	width: 64px;
	height: auto;
	border-radius: 50%;
}

.post-hero__tags {
	grid-area: tags;
	font-size: var(--wp--preset--font-size--x-large);
}
