.global-social-icons {
    --_size: var(--wp--preset--font-size--x-large);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

.global-social-icons__link {
    display: grid;
    place-items: center;

    font-size: var(--_size);
    color: var(--wp--preset--color--white);
    text-decoration: none;

    background: var(--wp--preset--color--primary);

    width: calc(var(--_size) * 1.675);
    height: calc(var(--_size) * 1.675);

    border-radius: 50%;
}