.editor-accessible-tabs__panel {
	display: grid;
	grid-template-areas:
		"actions name"
		"content content";

	grid-template-columns: auto 1fr;
}

.editor-accessible-tabs__panel::before {
	grid-area: name;

	display: block;

	content: attr(data-editor-name);

	font-size: var(--wp--preset--font-size--small);
	font-weight: 900;
	text-transform: uppercase;
	color: var(--wp--preset--color--primary);

	border-bottom: 2px solid var(--wp--preset--color--primary);

	width: 100%;
}

.editor-accessible-tabs__panel-actions {
	grid-area: actions;

	margin-right: 0.5rem;
}

.editor-accessible-tabs__panel-actions button {
	background: none;
	border: none;
	cursor: pointer;
}

.editor-accessible-tabs__panel-actions__select svg {
	width: 24px;
	height: 24px;

	fill: var(--wp--preset--color--primary);
}

.editor-accessible-tabs__panel-content {
	grid-area: content;
}
