/* ================================================== */
/* ==================== TEXT ======================== */
/* ================================================== */
.footer,
.footer :is(a, address, h2, h3) {
	color: var(--wp--preset--color--white);
	font-style: normal;
	margin: 0;
}

.footer h2 {
	font-size: var(--wp--preset--font-size--huge);
	margin-bottom: var(--wp--preset--spacing--30);
}

/* ================================================== */
/* ================== CONTAINER ===================== */
/* ================================================== */
.footer {
	background-color: var(--wp--preset--color--grey-dark);
	padding-block: var(--wp--preset--spacing--50);
	margin-top: var(--wp--preset--spacing--60);
}

.footer > div {
	max-width: calc(
		var(--wp--style--global--wide-size) - var(--wp--preset--spacing--50)
	);
	margin-inline: auto;
}

/* ================================================== */
/* ===== TOP ROW (LOGO & CONTACT INFORMATION) ======= */
/* ================================================== */
.footer__top {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--wp--preset--spacing--40);
}

.footer__contact h3 {
	font-size: var(--wp--preset--font-size--large);
}

/** 
 * LOGO
 */
.footer__logo img {
	max-width: var(--wp--style--global--content-size);
	height: auto;
}

/** 
 * CONTACT INFORMATION
 */
.footer__site-contact-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer .site-contact {
	gap: var(--wp--preset--spacing--20);
}

/**
 * ICONS
 */
.footer .site-contact__icon {
	--_icon-background: var(--wp--preset--color--white);
	--_icon-color: var(--wp--preset--color--grey-dark);
	--_size: var(--wp--preset--font-size--medium);
}

.footer .site-contact__icon svg {
	width: calc(var(--_size) * 0.8);
	height: calc(var(--_size) * 0.8);
}

.footer a:hover .site-contact__icon {
	--_icon-background: var(--wp--preset--color--primary-dark);
	--_icon-color: var(--wp--preset--color--white);
}

@media screen and (min-width: 800px) {
	.footer__top {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.footer__top > div:not(:first-child) {
		justify-self: center;
	}
}

/* ================================================== */
/* ========== BOTTOM ROW (LEGAL & SOCIAL ============ */
/* ================================================== */
.footer__bottom {
	display: flex;
	flex-direction: column;

	margin-top: var(--wp--preset--spacing--40);
	padding-top: var(--wp--preset--spacing--30);

	border-top: 1px solid var(--wp--preset--color--grey);
}

.footer__legal {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

@media screen and (min-width: 800px) {
	.footer__bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
