.wp-block-ksd-site-header
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	display: flex;
	background-color: var(--wp--preset--color--grey-dark);
	flex-direction: column;
	align-items: center;
	color: var(--wp--preset--color--background);
}
