:where(main) {
	width: var(--wp--custom--wide-size);
	margin-inline: auto;
}

/* Set global max width for content and center it to page */
:where(main > section) {
	width: var(--wp--custom--content-size);
	margin-inline: auto;
}

/* Set default margin and padding excluding hero */
:where(main > section):not(section:first-of-type) {
	margin-top: var(--wp--preset--spacing--60);
}

/* Set default margin and padding excluding last element */
:where(main > section):not(section:last-of-type) {
	margin-bottom: var(--wp--preset--spacing--60);
}
